$colorLink : white;


.headerAdmin{
    //border: solid;
    width: 90%;
    margin: auto;
    margin-bottom: 10px;
   
}


.menuContainer1{

   // width: 90%;
   // margin: auto;
     height: 100px;
     display: flex;
     justify-content: space-between;
     align-items: center;
     flex-wrap: wrap;
     height: 100px;

    // border: solid black;

    .menuContainer1__acceuil{
        width: 15%;
        height: 30px;
        border: solid #bf9000;
        border-radius: 5px;
        box-shadow: 0px 0px 8px -1px #000000;
        background-color: #bf9000;
        color: white;
        font-weight: bolder;
        display: flex;
        justify-content: center;
        align-items: center;
        //border: solid red;

        .linkAcceuilAdmin {
             width: 100%;
             height: 100%;
             display: flex;
             justify-content: center;
             align-items: center;
             //text-align: center;
            font-weight: bolder;
            color: white;
            text-decoration: none;
           
            
        }

        
         //style version mobile
        @media screen and (max-width: 900px) and (orientation: landscape) {

            width: 15%;


        }
         //style version mobile
        @media screen and (max-width: 1200px) and (orientation: landscape) {

            width: 15%;


        }
    }

    
    
    
}

.optionContainer1{

    //border: solid red;
    width: 25%;
    height: 30px;
    display: flex;
    justify-content: space-between;
    // border: solid red;
    
    &__bar{
        border: solid 1px;
    }

    .linkAcceuilAdmin {
        font-weight: bolder;
        color: #517633;
        text-decoration: none;
        &:active{
            color: #f15844;
        }
        &:visited{
            //color: #f15844;
        }
        &:hover{
            color: #bf9000;
        }
    }

    //style version mobile
    @media screen and (max-width: 900px) and (orientation: landscape) {

        width: 40%;


    }
    //style version mobile
    @media screen and (max-width: 1200px) and (orientation: landscape) {

        width: 40%;
        //border: solid red;


    }


    
}

//integration du deuxième menu

.headerAdminBar {
    //width: 90%;
    //margin: auto;
    height: 20px;
    background-color: #364c23;
    border: solid #364c23;
     
box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.96);
    
    

}

.menuContainer2 {
    //width: 90%;
    //margin: auto;
    background-color: #517633;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: bolder;
    color: $colorLink;

   // border: solid red;

    .menuContainer2__acceuil{
        width: 5%;
        margin-left: 20px;

       // border: solid blue;
    }

    /////////////////////////////////
    .Bar{

        background-color: #f15844;
        border: solid #f15844;
    }
    /// ////////////////////////////

    .linkAdmin2{
        font-weight: bolder;
        color: $colorLink;
        text-decoration: none;
        
        &:active{
            color: #f15844;
        }
        &:visited{
            //color: #f15844;
        }
        &:hover{
            color: #bf9000;
        }
    }

    .menuContainer2__container{
        width: 40%;
        margin-right: 20px;
        display: flex;
        justify-content: space-between;

        //border: solid blue;

        .menuContainer2MiniContainer{

            //border: solid yellow;
            display: flex;
            justify-content: space-between;
        }
    }
    .menuContainer2MiniContainer__bar{
        margin-left: 30px;
        border: dashed white 1px;

    }

     //style version mobile
     @media screen and (max-width: 900px) and (orientation: landscape) {

        .menuContainer2__container{

            width: 70%;
            margin-right: 0px;
           // border: solid yellow;
        }


    }
     //style version mobile
     @media screen and (max-width: 1200px) and (orientation: landscape) {

        .menuContainer2__container{

            width: 70%;
            margin-right: 15px;
           // border: solid yellow;
        }


    }
     

}

